version: 2
updates:
- package-ecosystem: gomod
  directory: "/"
  cooldown:
    default-days: 14
  schedule:
    interval: weekly
  open-pull-requests-limit: 10
  groups:
    go-minor-updates:
      applies-to: version-updates
      update-types:
        - minor
        - patch
- package-ecosystem: "github-actions"
  directory: "/"
  cooldown:
    default-days: 14
  schedule:
    interval: weekly
  open-pull-requests-limit: 10
  groups:
    actions-minor-updates:
      applies-to: version-updates
      update-types:
        - minor
        - patch
