id-prefix: "MAL"
malicious-path: "./osv/malicious/"
false-positive-path: "./osv/withdrawn/"

sources:
- id: "ossf-package-analysis"
  storage:
    type: "blob"
    bucket: "gs://gosst-package-detection-osv?access_id=-"
    lookback-entries: 10
  prefixes:
  - "confident/"

- id: "ghsa-malware"
  alias-id: true

- id: "reversing-labs"
  storage:
    type: "blob"
    bucket: "s3://rl-github-ossf?awssdk=v2&profile=reversinglabs&region=us-east-1"
    lookback-entries: 10
  prefixes:
  - "RLMA-"
  - "RLUA-"
  filters:
  - field: "related"
    pattern: "^RLMA-"

- id: "amazon-inspector"
  storage:
    type: "blob"
    bucket: "s3://inspector-ossf-malicious-packages-report-us-east-1-482079863061?awssdk=v2&region=us-east-1"
    lookback-entries: 10
  prefixes:
  - "IN-MAL-"
