id-prefix: "MAL"
malicious-path: "./osv/malicious/"
false-positive-path: "./osv/withdrawn/"
sources:
- id: "ossf-package-analysis"
  bucket: "gs://gosst-package-detection-osv?access_id=-"
  lookback-entries: 10
  prefixes:
  - "confident/"
- id: "ghsa-malware"
  alias-id: true
- id: "reversing-labs"
  bucket: "s3://rl-github-ossf?awssdk=v2&profile=revlab&region=us-east-1"
  prefixes:
  - "RLMA-"
  - "RLUP-"
  lookback-entries: 10
