name: Alert on Unmergable Reports

on:
  schedule:
  - cron: '0 11 * * 2' # Once an week, at 11 on Tuesday
  workflow_dispatch:

permissions: read-all

jobs:
  alert-unmergable:
    name: Alert
    continue-on-error: false
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        token: ${{ secrets.GH_TOKEN }}

    - name: Find unmergable reports
      run: |
        find osv/unmergable -name "*.json" > found
        if [ -s found ]; then
          cat found | sed -E "s|(osv/unmergable)/([^/]+)/(.*)/(MAL-0000-.*)|::error filename=\\1/\\2/\\3/\\4::unmergable report exists - \\3 (\\2)|"
          exit 1
        fi
