name: Ingest GHSA Malware

on:
  schedule:
  - cron: '15 * * * *' # Every hour, at quarter past. To limit conflicts.
  workflow_dispatch:

permissions: read-all

jobs:
  ingest-ghsa:
    name: Ingest GHSA
    continue-on-error: false
    runs-on: ubuntu-latest

    permissions:
      actions: read
      contents: write

    steps:
    - name: Checkout self
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        token: ${{ secrets.GH_TOKEN }}
    - name: Checkout ossf/osv-schema
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        token: ${{ secrets.GH_TOKEN }}
        repository: ossf/osv-schema
        ref: aeaeeeeb3f6473c294fc1d18a32e9a5a794a5c47
        path: osv-schema
    - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version-file: 'go.mod'
    - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: "3.13"
        cache: pipenv
        cache-dependency-path: osv-schema/tools/ghsa/Pipfile.lock

    - name: Install pipenv
      run: |
        pip install pipenv==2025.0.4

    - name: Install dependencies
      run: |
        cd osv-schema/tools/ghsa
        pipenv sync

    - name: Dump GHSA Malware
      run: |
        cd osv-schema/tools/ghsa
        mkdir OUT
        TIMESINCE=`python3 -c 'import datetime; dt=datetime.datetime.now(datetime.UTC)-datetime.timedelta(hours=24); print(dt.isoformat())'`
        pipenv run python dump_ghsa.py --token "${{ github.token }}" --query "classifications: [MALWARE] updatedSince: \"$TIMESINCE\"" OUT

    - name: Convert GHSA to OSV
      run: |
        cd osv-schema/tools/ghsa
        mkdir OSV
        pipenv run python convert_ghsa.py -o OSV OUT/*.json

    - name: Ingest OSV
      run: |
        go run ./cmd/ingest -config config/config.yaml -dir osv-schema/tools/ghsa/OSV -source ghsa-malware

    - name: Prepare commit
      run: |
        git config user.name github-actions
        git config user.email github-actions@github.com
        git add osv
    - name: Commit report changes
      run: git diff --cached --quiet || git commit -m 'Ingest OSV - GHSA Malware'
    - name: Push commit
      if: ${{ github.ref == 'refs/heads/main' }}
      run: git push

    - name: Save OSV for debugging
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: ghsa-osv
        path: osv-schema/tools/ghsa/OSV/*.json
        retention-days: 14
