name: Ingest GHSA Malware

on:
  schedule:
  - cron: '7 0 * * *' # Once an day
  workflow_dispatch:

permissions: read-all

jobs:
  ingest-ghsa:
    name: Ingest GHSA
    continue-on-error: false
    runs-on: ubuntu-latest

    permissions:
      actions: read
      contents: write

    steps:
    - name: Checkout self
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        token: ${{ secrets.GH_TOKEN }}
    - name: Checkout ossf/osv-schema
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        token: ${{ secrets.GH_TOKEN }}
        repository: ossf/osv-schema
        ref: ed713ef6511fa4113c89e25ea5e3da5291c6f05d
        path: osv-schema
    - uses: actions/setup-go@3041bf56c941b39c61721a86cd11f3bb1338122a # v5.2.0
      with:
        go-version-file: 'go.mod'
    - uses: actions/setup-python@0b93645e9fea7318ecaed2b359559ac225c90a2b # v5.3.0
      with:
        python-version: "3.11"
        cache: pipenv
        cache-dependency-path: osv-schema/tools/ghsa/Pipfile.lock

    - name: Install pipenv
      run: |
        pip install pipenv==2023.7.11

    - name: Install dependencies
      run: |
        cd osv-schema/tools/ghsa
        pipenv sync

    - name: Dump GHSA Malware
      run: |
        cd osv-schema/tools/ghsa
        mkdir OUT
        TIMESINCE=`python3 -c 'import datetime; dt=datetime.datetime.now(datetime.UTC)-datetime.timedelta(hours=48); print(dt.isoformat())'`
        pipenv run python dump_ghsa.py --token "${{ github.token }}" --query "classifications: [MALWARE] updatedSince: \"$TIMESINCE\"" OUT

    - name: Convert GHSA to OSV
      run: |
        cd osv-schema/tools/ghsa
        mkdir OSV
        pipenv run python convert_ghsa.py -o OSV OUT/*.json

    - name: Ingest OSV
      run: |
        go run ./cmd/ingest -config config/config.yaml -dir osv-schema/tools/ghsa/OSV -source ghsa-malware

    - name: Prepare commit
      run: |
        git config user.name github-actions
        git config user.email github-actions@github.com
        git add osv
    - name: Commit report changes
      run: git diff --cached --quiet || git commit -m 'Ingest OSV - GHSA Malware'
    - name: Push commit
      run: git push
